<h1>Image</h1>
<%= form_with url: "/", method: :get do |f| %>
  <%= f.label "Your ID" %>
  <%= f.text_field :user_id %>
  <%= f.submit "Search" %>
<% end %>

<% unless params[:user_id].nil? %>
  <% unless @photos.nil? %>
    <% @photos.each do |img| %>
      <% server_id = img.server %>
      <% id = img.id %>
      <% secret = img.secret%>
      <% size_suffix = 'z' %>
      <div>
        <figcaption><%= img.title %></figcaption>
        <img src="https://live.staticflickr.com/<%= server_id %>/<%= id %>_<%= secret %>_<%= size_suffix %>.jpg" alt="">
      </div>
    <% end %>
  <% else %>
    <p>Wrong id</p>
  <% end %>
<% end %>
